
body {
    padding: 0;
    margin: 0;
    height: 100vh;


}

.header-container, .header-left-elements-container, .header-left-elements-container, .header-right-elements-container {
    display: flex;
    gap: 20px;

}

.header-container {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: black solid 2px;
}


.main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.task-sidebar {
    min-width: 10%;
    border-right: black solid 2px;
    padding: 10px;

}

.task-detail-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 15px;
    padding: 20px;


}

.task {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    border-bottom: solid black 2px;
    padding: 20px;


}

.task-detail-container input {
    width: 20.5rem;
}

.create-buttonDiv {
    display: flex;
    justify-content: center;
}

.checkbox-container {
    display: flex;
    gap: 20px;
}

.header-middle-element-container {

    width: 75%;
}

.task-search {
    width: 100%;
    border-radius: 20px;
}

ul {
    list-style: none;
}


.dropdown {
    display: flex;
    position: relative;


}


.dropdown.active > .create-button + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;

}

.dropdown.active > .create-button, .create-button:hover {
    color: black;
}

.dropdown-menu {
    position: absolute;
    left: 0;

    /*top padding*/
    top: calc(100% + 1rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    width: 10rem;
    height: 10rem;

}


.create-button {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    padding: 0;
}


input:invalid {
    background-color: #ffdddd;
    outline: 2px solid red;
    color: red;
    border-radius: 5px;

}

.button-list-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.button-list-content button {
    flex: 1;
}

.taskfolder-button {
    padding: 15px 30px;
    border: 1px solid gray;
    border-radius: 5px;
    /*  border: none;*/
    background-color: #fff;
    font-size: 16px;
    transition: 0.3s ease;
}


.taskfolder-button:hover {
    background-color: #313744;
    color: white;
}

#Taskfolder-button-input-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#Taskfolder-button-input-div-button-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex: 1;
    align-content: center;
}

#Taskfolder-button-input-div-button-container button {
    flex: 1;
}

.tasks-container-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0;
}

.pop-up-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

}

#task-date-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

}

#popup-button-container {

    display: flex;
    gap: 10px;
    width: 100%;
}

.add-button, .cancel-button {
    flex: 1;
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;

}

.add-button:hover {
    background-color: #4f7942;
}

.cancel-button:hover {
    background-color: #880808;
}

.cancel-button {
    background-color: #c41e3a;
}


.edit-img {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}